.introduction-container {
    transition: .8s;
    opacity: 1;
    padding: 4em 2em;
    overflow: hidden;
    background-image: url('../assets/images/univers.webp');
    background-attachment: fixed;
    box-shadow: inset 0 0 2em 2em #000;
    article {
        margin: 2em 0;
        font-size: 1.5em;
        @include portraitVersion {
            font-size: 1.2em;
        }
    }
    .first {
        transform: translateX(-110%);
        &.appears {
            animation: appears-left .8s forwards;
        }
    }
    .second {
        transform: translateX(110%);
        &.appears {
            animation: appears-right .8s forwards;
        }
    }
}

.planets-container {
    width: 90%;
    @include flexColumn;
}