.introduction-container {
    margin: 4em 2em;
    overflow: hidden;
    article {
        margin: 2em 0;
        font-size: 1.5em;
    }
    .first {
        transform: translateX(-110%);
        &.appears {
            animation: appears-left .8s forwards;
        }
    }
    .second {
        transform: translateX(110%);
        &.appears {
            animation: appears-right .8s forwards;
        }
    }
}

.planets-container {
    width: 90%;
    @include flexColumn;
}